body {
  background-color: hsl(233, 47%, 7%);
  width: 100%;
  height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
}
#card {
  width: 870px;
  height: 435px;
  background-color: hsl(244, 38%, 16%);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: hsl(0, 0%, 100%);
  border-radius: 10px;
  overflow: hidden;
}
.img {
  width: 100%;
  height: 100%;
  position: relative;
  background: url("images/image-header-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.img:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(277, 75%, 41%, 0.4);
}
#sec {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#sec p {
  color: hsla(0, 0%, 100%, 0.75);
  width: 90%;
}
#sec h1 {
  width: 90%;
}
#sec div {
  display: flex;
  flex-direction: row;
  width: 100%;
}
#sec div div {
  flex-direction: column;
  text-align: center;
  place-items: center;
}
#sec div div p {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}
#sec div div span {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: initial;
  color: hsla(0, 0%, 100%, 0.6);
}
@media screen and (max-width: 870px) {
  #card {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: "a" "b";
    width: 80%;
    height: 70%;
  }
  .img {
    grid-area: a;
    background-image: url("images/image-header-mobile.jpg");
  }
  #sec {
    grid-area: b;
    place-self: center;
  }
  body {
    height: 200vh;
  }
  #sec {
    height: 70%;
    text-align: center;
    justify-content: space-around;
  }
  #sec div {
    flex-direction: column;
  }
}
@media screen and (max-height: 500px) {
  #card {
    height: 90%;
    place-items: center;
    position: relative;
  }
  #sec {
    position: absolute;
    top: 10%;
    transform: translateY(-30%);
  }
  .img {
    display: none;
  }
}
